.custom-background {
    background-image: url('../assets/welcome_background.svg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
}

.custom-paper {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    padding: 20px;
}

/* Example of thankYouStyles.css */
.thank-you-container {
    background-image: url('../assets/welcome_background.svg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
}

.custom-paper {
    padding: 20px;
}
